body {
    margin: 0;
    padding: 0;
}

#welcome-message {
    text-align: center;
    position: relative;
    font-size: 28px;
    margin: 10px auto 0;
}

#authenticate {
    margin: 10px 0;
}

.align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    width: 260px;
}

.container {
    display: flex;
    justify-content: center ;
    align-items: center;
}